* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

/* font-family: 'Dancing Script', cursive; */

/* font-family: 'Montserrat', sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 750vh;
}

/* CONTAINER HEADER */

.container-header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  z-index: 50;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 5px grey;
}

.container-header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #DAA520;
  font-weight: bold;
}

.navigation {
  display: flex;
}

.navigation a {
  margin: 0 25px 0 0;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  color: #DAA520;
}

/* MAIN CONTAINER */

main {
  background: linear-gradient(162deg, rgba(248, 248, 255, 1) 0%, rgba(250, 250, 210, 0.15) 50%);
  padding: 60px 0;
  color: black;
  font-weight: 700;
  height: 100%;
}

/* Container reception */

.container-reception {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 280px;
  margin: 70px 0 20px 0;
}

.container-reception h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
  background: -webkit-linear-gradient(#eee, #DAA520);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-reception p {
  font-weight: 500;
  line-height: 25px;
}

.container-reception button {
  font-size: 22px;
  background: #DAA520;
  padding: 10px 10px;
  margin-top: 35px;
}

/* First table image */

.table-one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-one {
  height: 800px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

/* Description of the place */

.the-place {
  text-align: center;
  margin-top: 100px;
}

.risk {
  border: 1px solid black;
  margin: 0 auto 16px;
  width: 50px;
}

.the-place h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  margin: 35px 0;
}

.info-studio {
  display: flex;
  justify-content: space-around;
  height: 400px;
  margin: 0 50px;
}

.content-studio {
  width: 25%;
  margin-left: 50px;
}

.content-studio h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
}

.content-studio p {
  line-height: 65px;
  text-align: start;
  text-transform: uppercase;
}

.room-two {
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

/* Place items */

.place-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 350px;
  height: 250px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.img-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.place-items h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

.place-items p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 0 30px;
}

/* Testimonial */

.container-testimonial {
  height: 400px;
  padding: 0 90px;
  margin-bottom: 50px;
}

.container-testimonial h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  margin: 25px 0 40px 0;
}

.all-testimonials {
  display: flex;
  align-items: center;
  text-align: center;
}

.all-testimonials p {
  line-height: 22px;
  font-weight: 400;
}

#mid {
  margin: 0 120px;
}

.img-woman {
  height: 100px;
  border-radius: 80px;
  margin: 20px 0;
}

.stars {
  margin-top: 10px;
  height: 20px;
}

/* Gallery */

.container-gallery {
  height: 810px;
  padding: 0 90px;
}

.container-gallery h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  margin: 25px 0 40px 0;
}

#container-espc {
  margin-bottom: 25px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-gallery {
  height: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#img-espc {
  margin: 0 25px;
}

/* Vip */

.container-vips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  background-color: #B8860B;
  margin-top: 150px;
  padding: 50px 100px;
}

.txt-vip {
  line-height: 60px;
  color: white;
  text-transform: uppercase;
}

.txt-vip p {
  font-size: 18px;
  font-weight: 300;
}

.txt-vip h1 {
  font-size: 28px;
}

.txt-vip button {
  margin-top: 25px;
  padding: 20px 30px;
  border-radius: 5px;
  background: none;
  border: 1px solid black;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.txt-vip a {
  text-decoration: none;
  color: white;
}

.img-vip {
  height: 350px;
  border-radius: 5px;
}

/* Mark your massage */

.mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 570px;
  padding-left: 100px;
  background: #FAFAD2;
  text-transform: uppercase;
}

.img-mark {
  height: 570px;
  margin-left: 140px;
  border-radius: 0 0 0 20px;
}

.mark p {
  font-size: 18px;
  font-weight: 300;
}

.mark h1 {
  font-size: 85px;
  padding-right: 40px;
}

.mark a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.img-wpp {
  height: 13px;
  margin-left: 10px;
}

/* Footer */

.container-footer {
  display: flex;
  justify-content: space-around;
  height: 350px;
  background: #FAFAD2;
  padding: 50px;
}

.title-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-footer h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: #DAA520;
  font-weight: bold;
}

.img-footer {
  height: 20px;
}

.div-inv {
  margin: 40px 0;
}

.div-inv a {
  text-decoration: none;
  color: black;
}

.container-menu {
  display: flex;
  flex-direction: column;
}

.container-menu h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.container-menu a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.container-address {
  display: flex;
  flex-direction: column;
}

.container-address h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.map {
  height: 200;
  width: 400;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.container-payment {
  display: flex;
  flex-direction: column;
}

.container-payment h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.container-payment p {
  margin-bottom: 10px;
}